<a href="https://colab.research.google.com/github/camgenomicmedicine/GMO7-Jupyter/blob/main/Anscombe_quartet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anscombe's quartet

Anscombe's quartet comprises of four datasets, and is rather famous. Why? You'll find out in this exercise.

We met the Anscombe quartet in *Research Skills 3: Data Fallacies*. If you have not watched the lecture yet then please do so before going any further.

First you need to read in the data. The data for the Anscombe quartet is hosted on the GMO7 GitHub page, but how do we get data hosted on the internet into R?! The answer is surprisingly simple. All we have to do is put the URL for the raw data in the place of a file location in our data import function. In this example we will use the base r `read.csv()` function but you could use the tidyverse `read_csv()` function to do the same import.

In [13]:
AQ <- read.csv("https://raw.githubusercontent.com/camgenomicmedicine/GMO7-Jupyter/main/data/anscombe-quartet.csv")

In [14]:
head(AQ)

  dataset x  y
1 I       10 8.04
2 I        8 6.95
3 I       13 7.58
4 I        9 8.81
5 I       11 8.33
6 I       14 9.96

## Part 1

Using either the base r `plot()` function or `ggplot2()` make plots showing the four datasets that make up the Anscombe Quartet. See if you can do this with all four plots in the same plot space or placed side by side.

In [ ]:
# your code here

## Part 2

For each of the four datasets...
 - Compute the mean and variance of both **x** and **y**
 - Compute the correlation coefficient between **x** and **y**
 - Compute the linear regression line: $y = \beta_0 + \beta_1 x + \epsilon$

In [ ]:
# your code here